* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkseagreen;
}
.logo {
    position:fixed; 
	top:0; 
	left:0; 
} 

header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkseagreen
    color: black;
}

header h1 {
    display: inline-block;
    font-size: 23px;
}

header h1 .seo {
    color: black;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.title h2 {
    background-color: darkseagreen;
}

.hero {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/trees.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkseagreen;
}

.business-benefit {
    margin-bottom: 40px;
    color: black;
}

.business-benefit a {
    margin-bottom: 10px;
    text-align: center;
}

.business-benefit img {
    display: block;
    margin: 20px auto;
    max-width: 400px;
}

.user-experience {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #94c494;
    color: black;
}

.user-experience img {
    max-height: 150px;
}

.user-experience h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}